.c-ShowcaseList {
  &--wrapper {
    width: var(--main-container-size);
    margin: var(--l-05) auto 0 auto;

    @include main-container-break {
      padding: 0 var(--l-01);
      margin: var(--l-03) auto 0 auto;
    }
  }

  &--container {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
    column-gap: var(--l-02);


    .c-ShowcaseListItem {
      width: 100%;
      margin-bottom: var(--l-02);
      background-color: var(--grey);
      max-height: 1050px;
      width: calc(25% - var(--l-02));

      @include for-laptop-down {
        width: calc(33% - var(--l-02));
        max-height: 500px;
      }
  
      @include for-tablet-down {
        width: calc(50% - var(--l-01));
        column-gap: var(--l-01);
      }
    }
  }
}